* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header  */
header {
    height: 80px;
    line-height: 80px;
    
}

.logo img {
    vertical-align: middle;
    margin-left: 20px;
}

.logo-txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    font-weight: bold;
}

/* main  */

main {
    background-color: #f6f8f9;
}
